<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.4//EN" "http://resources.openmrs.org/doctype/config-1.4.dtd">

<module configVersion="1.4">
	
	<!-- Base Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>PIH</author>
	<description>
			Laboratory Module. helpful track the flow of patient lab.
	</description>

	<activator>@MODULE_PACKAGE@.LaboratoryModuleActivator</activator>
	<require_version>${openMRSVersion}</require_version>
	  
	<require_modules>
       <require_module version="0.0.8">org.openmrs.module.mohappointment</require_module>
		<require_module version="0.0.4.7-SNAPSHOT">org.openmrs.module.mohbilling</require_module>
	</require_modules>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.tracmodule.list</point>
		<class>org.openmrs.module.laboratorymanagement.web.html.AdminList</class>
	</extension>
	
	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>org.openmrs.module.laboratorymanagement.web.html.LabOrderDashboardTab</class>
	</extension>

	<!-- Required Privileges -->

	<privilege>
		<name>view laboratory management</name>
		<description>the user can manage the Lab orders and results</description>
	</privilege>
	<privilege>
		<name>View Monthly Report</name>
		<description>The user can view the monthly report</description>
	</privilege>
	<privilege>
		<name>Add Lab Configurations</name>
		<description>The user can add Laboratory configurations</description>
	</privilege>
	<privilege>
		<name>Patient Dashboard - View Laboratory Order</name>
		<description>The user can view the Laboratory tab on the Patient dashboard</description>
	</privilege>

	<!-- Global Properties -->

	<globalProperty>
		<property>@MODULE_ID@.labtests.conceptIds</property>
		<defaultValue>5497,21,856,1553</defaultValue>
		<description>This should be a list of conceptIds corresponding to lab-tests </description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.encounterType.labEncounterTypeId</property>
		<defaultValue></defaultValue>
		<description>The encounter type occured between  the Clinician/physician and the Patient.
		</description>
	</globalProperty>
		
	<globalProperty>
		<property>@MODULE_ID@.encounterType.labOrderEncounterTypeId</property>
		<defaultValue></defaultValue>
		<description>The encounter type occured between a clinician and Patient 
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>@MODULE_ID@.orderType.labOrderTypeId</property>
		<defaultValue>1</defaultValue>
		<description>The order type used to order lab exams</description>
	</globalProperty>
	
	<globalProperty>
		<property>@MODULE_ID@.multipleAnswerConceptIds</property>
		<defaultValue>304</defaultValue>
		<description>List of concept IDs whose concepts can have multiple answers</description>
	</globalProperty>
	 
	<globalProperty>
		<property>@MODULE_ID@.labExamCategory</property>
		<defaultValue>8004,7222,7192,7244,7265,7243,7835,105411,105417,105406</defaultValue>
		<description>This is the Lab Exam Category</description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.healthfacility.name</property>
		<defaultValue>Healtfacility.name</defaultValue>
		<description>Health facility name</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.healthfacility.POBOX</property>
		<defaultValue>Healtfacility.POBOX</defaultValue>
		<description>Health facility P.O.BOX</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.healthfacility.telephone</property>
		<defaultValue>Healtfacility.telephone</defaultValue>
		<description>Health facility telephone number</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.healthfacility.email</property>
		<defaultValue>Healtfacility.email</defaultValue>
		<description>Health facility email account</description>
	</globalProperty>

	<globalProperty>
		<property>laboratorymanagement.LabExamsToOrder</property>
		<defaultValue>8004,7836,7265,7243,7244,7835,7192,7222,7217,7193,7918,8046,7991,7202,105411,105417,105406,7202</defaultValue>
		<description>Concept set for Lab exams</description>
	</globalProperty>

	<globalProperty>
		<property>laboratorymanagement.appointmentInLaboratoryService</property>
		<defaultValue>6710</defaultValue>
		<description>Lab Services concept</description>
	</globalProperty>

	<globalProperty>
		<property>laboratorymanagement.appointmentInConsultationService</property>
		<defaultValue>8053</defaultValue>
		<description>Consultation Services concept</description>
	</globalProperty>

	<!--LabTestConstants gp-->

	<globalProperty>
		<property>laboratorymanagement.LabTestConstants.spermConcept</property>
		<defaultValue>7202</defaultValue>
		<description>spermConcept ID </description>
	</globalProperty>

	<globalProperty>
		<property>laboratorymanagement.LabTestConstants.hematology</property>
		<defaultValue>8004</defaultValue>
		<description>hematology concept id </description>
	</globalProperty>

	<globalProperty>
		<property>laboratorymanagement.LabTestConstants.PARASITOLOGY</property>
		<defaultValue>7222</defaultValue>
		<description>PARASITOLOGY concept id </description>
	</globalProperty>

	<globalProperty>
		<property>laboratorymanagement.LabTestConstants.hemostasis</property>
		<defaultValue>7217</defaultValue>
		<description>hemostasis concept id </description>
	</globalProperty>

	<globalProperty>
		<property>laboratorymanagement.LabTestConstants.bacteriology</property>
		<defaultValue>7192</defaultValue>
		<description>bacteriology concept id </description>
	</globalProperty>

	<globalProperty>
		<property>laboratorymanagement.LabTestConstants.urineChemistry</property>
		<defaultValue>7243</defaultValue>
		<description>urineChemistry concept id </description>
	</globalProperty>

	<globalProperty>
		<property>laboratorymanagement.LabTestConstants.immunoSerology</property>
		<defaultValue>7265</defaultValue>
		<description>immunoSerology concept id </description>
	</globalProperty>

	<globalProperty>
		<property>laboratorymanagement.LabTestConstants.bloodChemistry</property>
		<defaultValue>7244</defaultValue>
		<description>bloodChemistry concept id </description>
	</globalProperty>

	<globalProperty>
		<property>laboratorymanagement.LabTestConstants.toxicology</property>
		<defaultValue>7835</defaultValue>
		<description>toxicology concept id </description>
	</globalProperty>
	<globalProperty>
		<property>laboratorymanagement.LabTestConstants.tumourMarker</property>
		<defaultValue>105406</defaultValue>
		<description>tumourMarker concept id </description>
	</globalProperty>
	<globalProperty>
		<property>laboratorymanagement.LabTestConstants.thyroidFunction</property>
		<defaultValue>105411</defaultValue>
		<description>thyroidFunction concept id </description>
	</globalProperty>
	<globalProperty>
		<property>laboratorymanagement.LabTestConstants.fertilityHormone</property>
		<defaultValue>105417</defaultValue>
		<description>fertilityHormone concept id </description>
	</globalProperty>

	<globalProperty>
		<property>laboratorymanagement.currentLabRequestFormConceptIDs</property>
		<defaultValue></defaultValue>
		<description>Will contain all concept IDs of lab exams available in Laboratory</description>
	</globalProperty>

	<!-- Internationalization -->

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>

</module>

